@font-face {
    font-family: "Trap";
    src: url("/fonts/Trap-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Trap";
    src: url("/fonts/Trap-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "Trap";
    src: url("/fonts/Trap-SemiBold.woff") format("woff");
    font-weight: semibold;
    font-style: normal;
  }
  @font-face {
    font-family: "Trap";
    src: url("/fonts/Trap-Medium.woff") format("woff");
    font-weight: medium;
    font-style: normal;
  }

  @font-face{
    font-family:"Circular";
    src:url('/fonts/EuclidCircularB-Regular.woff') format("woff");
    font-weight:normal;
    font-style:normal;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
html{
  @apply scroll-smooth;
}
} */

.gradientBg{
  background-color:hsla(292,100%,5%,1);
background-image:
radial-gradient(at 51% 92%, hsla(153,76%,37%,1) 0px, transparent 50%),
radial-gradient(at 88% 12%, hsla(347,78%,58%,1) 0px, transparent 50%),
radial-gradient(at 14% 86%, hsla(166,41%,52%,1) 0px, transparent 50%),
radial-gradient(at 85% 87%, hsla(47,100%,58%,1) 0px, transparent 50%),
radial-gradient(at 19% 17%, hsla(255,54%,52%,1) 0px, transparent 50%);
}

.gradientBgThree{
  background-color:hsla(292,100%,5%,1);
background-image:
radial-gradient(at 52% 90%, hsla(347,78%,58%,1) 0px, transparent 50%),
radial-gradient(at 89% 84%, hsla(166,41%,52%,1) 0px, transparent 50%),
radial-gradient(at 6% 85%, hsla(255,54%,52%,1) 0px, transparent 50%)
}

.masonryGridItem{
  break-inside: avoid;
}

.radialGreen{
background: radial-gradient(#300238, #22A968);
}

.radialRed{
  background: radial-gradient(#300238, #E84064);
  }

  .radialBlue{
    background: radial-gradient(#300238,   #6745C8);
  }

  .radialTricolor{
    background-color:hsla(292,100%,5%,1);
background-image:
radial-gradient(at 52% 90%, hsla(347,78%,58%,1) 0px, transparent 50%),
radial-gradient(at 89% 84%, hsla(166,41%,52%,1) 0px, transparent 50%),
radial-gradient(at 6% 85%, hsla(255,54%,52%,1) 0px, transparent 50%);
  }

.fancy-link{
  display: inline;
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
    background-position: 0 90%;
    background-size: 0 1px;
    transition: background 1.1s cubic-bezier(.645,.045,.355,1);
}

.masonryGridItem:hover .fancy-link, .fancy-link:hover{
    background-size: 100% 1px !important;
    transition: background .75s cubic-bezier(.77,0,.175,1) !important;
}

.country-selector{
  display:none!important;
}




.mouse-icon {
  border:1px solid #fff;
  border-radius: 16px;
  height: 40px;
  width: 24px;
  display: block;
  z-index: 10;
  opacity: 0.7;
}
.mouse-icon .wheel {
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  -webkit-animation-name: drop;
          animation-name: drop;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.mouse-icon .wheel {
  position: relative;
  border-radius: 10px;
  background: #fff;
  width: 2px;
  height: 6px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
}
@-webkit-keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}